#hero--container{
    background-color: #f4fbff;
    width: 100vw;
    height: 80rem;
    display: flex;
    justify-content: center;

    
}
#hero--container .container{
    height: auto;
    width: 80vw ;
    /* padding: 70px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 4rem;
    padding-top: 9rem;
    /* visibility: hidden; */
}


.hero--writings{
    flex: 1;
    padding-right: 1.5rem;
}
.hero--image{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    position: relative;
}
.hero--image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f4fbff;
    /* background: url('./public/logo.png') center/cover no-repeat, rgb(51, 126, 204); */
    /* visibility: hidden; */
}
.hero--image .image{
    width: 50rem;
    object-fit: cover;
    object-position: center;
    border-radius: 3rem;
    /* transform: scale(1.6); */
}
#hero--container h6{
    color: #0070C0;
    font-weight: 400;
    font-size: 1.2rem;
}
#hero--container h2{
    font-size: 3.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    position: relative;
}
#hero--container h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f4fbff;
    border-top-left-radius: 20px;
}
#hero--container p{
    font-size: 1.8rem;
    margin-bottom: 5rem !important;
}

.btn {
    background: red;
}
@media only screen and (min-width: 0) and (max-width:768px){
    #hero--container .container{
        height: 50rem;
        width: 100vw;
    height: 80rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    /* #hero--container h6{
        display: none;
    } */
    #hero--container h2{
        font-size: 2.3rem;
        font-weight: 400;
    }
    #hero--container p{
        font-size: 1.4rem;
        margin-bottom: 5rem;
    }
    .hero--writings{
        padding: 0 2rem;
        text-align: center;
        margin: 5rem 0rem;
    }
    .hero--image{
        width: 2rem;
        /* display: none; */
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {    
     #hero--container .container{
        height: auto;
        flex-direction: column-reverse;
        background-color: #0070C00D;
    width: 100vw;
    height: 80rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    #hero--container{
        /* margin: 0rem 0rem 0rem 0rem; */
        text-align: center;
        height: auto;
    }
    #hero--container h6{
        display: block;
    }
    #hero--container h2{
        font-size: 4rem;
    }
    #hero--container p{
        font-size: 2rem;
    }
    .hero--image {
        /* display: block; */
        width: 3rem;
        /* display: none; */
    }

    

    
}